{% extends 'base.html' %} {%block title %} Создание задачи {% endblock %}
{%block body %}
<h1>Создать задачу</h1>
<form method="post" class="form-control">
  <input
    type="text"
    name="title"
    placeholder="Введите название задачи"
    class="form-control"
  /><br />
  <input
    type="text"
    name="description"
    placeholder="Введите описание задачи"
    class="form-control"
  /><br />
  <button type="submit">Добавить</button>
</form>
<a href="/todos"> <h3>Главная</h3> </a>
{% endblock %}
